PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?appName=Vault
JWT_SECRET=supersecret
REDIS_URL=rediss://user:pass@host:port

FRONTEND_URL=http://localhost:5173

# Twilio Sandbox Configuration
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
